# Node
node_modules/
package-lock.json
npm-debug.log

# Tests and coverage
/coverage/

# Editor folders
.vscode/
.idea/

# Build outputs
dist/
package_extension.bat

# OS files
.DS_Store
Thumbs.db
.env

# Other
CODE_IMPROVEMENTS.md
